table {
  table-layout: fixed;

  > tbody > tr > td {
    padding: 2px !important;

    > [draggable] {
      overflow: hidden;
      padding: 0.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: lightskyblue;
      border-radius: 0.2em;

      &:nth-child(n+2) {
        margin-top: 2px;
      }

      &:hover {
        color: white;
        background-color: deepskyblue;
        cursor: move;
      }
    }

    &.hover {
      background-color: rgb(230, 255, 230);
      border: 2px dashed green;
    }
  }
}
