{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="card">
        <div class="card-header">New occupation</div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Add occupation</button>
            <a href="{{ path('app_index') }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
