{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <a href="{{ path('app_add') }}" class="btn btn-outline-primary">Add occupation</a>
    </div>

    <table class="table mt-4"
           data-controller="planning"
           data-subscription="{{ mercure('occupations')|e('html_attr') }}">
        <thead>
        <tr>
            <th>Day</th>
            {% for member in members %}
                <th>{{ member.firstName }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody data-planning-target="body">
        {% for day in days %}
            <tr>
                <th>{{ day|format_date('long') }}</th>
                {% for member in members %}
                    <td data-day="{{ day|date('Y-m-d') }}" data-member="{{ member.uuid }}">
                        {% for occupation in occupations|filter(v => v.day|date('Y-m-d') == day|date('Y-m-d') and v.member.uuid == member.uuid) %}
                            <div draggable="true" data-uuid="{{ occupation.uuid }}">{{ occupation.title }}</div>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
